# dependencies
node_modules
elm-stuff

# build
dist

# docs
.doit.db
docs

# local config
config.js

# locale
locale

# dsw-deployment-example
dsw-deployment-example/db-data/data
dsw-deployment-example/s3-data/data
